<div class="panel-body">
    <div class="panel-default" style="margin: 20px; width: 400px">

        <div ng-app="postcar" ng-controller="postcarCtrl">
            <div>
                Color : <input ng-model="color" /><br/><br/>
                Model : <input ng-model="model" /><br/><br/>
                Owner Id : <input ng-model="ownerId" /><br/><br/>
                License plate : <input ng-model="licensePlate" /><br/><br/>

                <input type="button" value="Send" ng-click="postcardata(color, model, ownerId, licensePlate)" /> <br/><br/>
            </div>
        </div>

        <table st-table="carTable" class="table table-striped">
            <thead>
            <tr>
                <th></th>
                <th>Color</th>
                <th>Model</th>
                <th>OwnerId</th>
                <th>License plate number</th>
            </tr>
            </thead>

            <tbody ng-repeat="car in carsRecords">
                <tr>
                <td>{{car.color}}</td>
                <td>{{car.model}}</td>
                <td>{{car.ownerId.toString()}}</td>
                <td>{{car.licensePlate}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>