<div class="panel-body">
    <div class="panel-default" style="margin: 20px; width: 400px">
        <table st-table="usersTable" class="table table-striped">
            <thead>
            <tr>
                <th></th>
                <th>Id</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Email</th>
            </tr>
            </thead>

            <tbody ng-repeat="user in userRecords">
                <tr>
                <td>{{user.id}}</td>
                <td>{{user.name}}</td>
                <td>{{user.phoneNumber}}</td>
                <td>{{user.email}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <br/><br/><br/><br/><br/><br/><br/>
    <div ng-app="postcar" ng-controller="postuserCtrl">
        <div>
            Id : <input ng-model="id" /><br/><br/>
            Name : <input ng-model="name" /><br/><br/>
            Phone : <input ng-model="phone" /><br/><br/>
            Email : <input ng-model="email" /><br/><br/>
            Image location : <input ng-model="imageLocation" /><br/><br/>

            <input type="button" value="Send" ng-click="postdata(id, email, name, phone, imageLocation, active)" /> <br/><br/>
        </div>
    </div>
</div>